@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div id="radio-player">
    <div class="wrapper">
        <button id="play-icon"></button>
        <audio id="radio-audio" src="https://myradio24.org/radiogois" preload="auto"></audio>
        <p>Радіо</p>
    </div>
</div>

<script type="module">
    import lottieWeb from 'https://cdn.skypack.dev/lottie-web';

    const audioPlayerContainer = document.getElementById('radio-player');
    const playIconContainer = document.getElementById('play-icon');
    const audio = document.getElementById('radio-audio');
    let playState = 'play';

    const playAnimation = lottieWeb.loadAnimation({
        container: playIconContainer,
        path: 'https://maxst.icons8.com/vue-static/landings/animated-icons/icons/pause/pause.json',
        renderer: 'svg',
        loop: false,
        autoplay: false,
        name: "Play Animation"
    });

    playAnimation.goToAndStop(14, true);

    audioPlayerContainer.addEventListener('click', () => {
        if(playState === 'play') {
            audio.play();
            audioPlayerContainer.classList.add("bg-blink");
            playAnimation.playSegments([14, 27], true);
            playState = 'pause';
        } else {
            audio.pause();
            audioPlayerContainer.classList.remove("bg-blink");
            playAnimation.playSegments([0, 14], true);
            playState = 'play';
        }
    });

</script>

<div id="last-div"></div>

<script>
    $(document).ready(function () {
        $('#last-div').nextAll("center").remove();

        setTimeout(function () {
            $('#last-div').nextAll("div").remove();
        }, 100);

        setTimeout(function () {
            $('#last-div').nextAll("div").remove();
        }, 200);

        setTimeout(function () {
            $('#last-div').nextAll("div").remove();
        }, 400);
    });
</script>
