@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="grid2x2">
        <div class="grid-row">
            <div id="login" style="cursor: pointer;" class="animate__animated grid-column rounded concentrate blue" onclick="window.location='/Account/Index';">
                @ViewBag.Cabinet
            </div>
            <div id="radio" class="grid-column rounded concentrate blue"></div>
        </div>
        <div class="grid-row">
            <div id="info" class="grid-column rounded concentrate blue">Інформація</div>
            <div id="media" style="cursor: pointer;" class="grid-column rounded concentrate blue" onclick="window.location='/Media/Index';">
                @ViewBag.MediaText
            </div>
        </div>
    </div>
    
</div>

@section Scripts{


    <script>
        $('#radio').load("/Home/RadioPartial")

        var infoElement = document.getElementById('info');

        var voice = document.getElementById('voiceover');


        infoElement.addEventListener('click', function(){
            voice.src = "/voicelines/extended-info.mp3";
            voice.play()
        });



    </script>
}
