@model LoginViewModel

<div>
    <form class="login-form animate__animated animate__fadeIn" asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div class="login-row">
                <div class="login-column">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="login-column">
                    <input asp-for="PhoneNumber" id="phone-num-field" />
                </div>
            </div>
            <span style="color: red" asp-validation-for="PhoneNumber"></span>
            <div class="login-row">
                <div class="login-column">
                    <label asp-for="Password"></label>
                </div>
                <div class="login-column">
                    <input asp-for="Password" />
                </div>
            </div>
            <span style="color: red" asp-validation-for="Password"></span>
            <div class="login-row">
                <input class="login-column login-button blue rounded concentrate" type="submit" value="Увійти" />
                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="" class="login-column login-button blue rounded concentrate" role="link" >
                    Назад
                </a>
            </div>
        </form>
 </div>