@model LoginViewModel
<div >
    <form class="login-form red rounded" asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div class="login-row">
                <div class="login-column">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="login-column">
                    <input asp-for="PhoneNumber" id="phone-num-field" />
                </div>
            </div>
            <div class="login-row">
                <div class="login-column">
                    <label asp-for="Password"></label>
                </div>
                <div class="login-column">
                    <input asp-for="Password"/>
                </div>
            </div>
            <div class="login-row">
                <input class="login-column login-button blue rounded" type="submit" value="Увійти" />
                <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="" class="login-column login-button blue rounded" role="link" aria-disabled="true">
                    Назад
                </a>
            </div>
        </form>
</div>