<div class="text-center">
    <div class="animate__animated animate__backInDown grid2x2">
        <div class="grid-row">
            <div id="news" style="cursor: pointer;" class="grid-column rounded concentrate blue" onclick="window.location='/NewsItems/Index';">
                @ViewBag.NewsText
            </div>
            <div id="books" style="cursor: pointer;" class="grid-column rounded concentrate blue" onclick="window.location='/BooksItems/Index';">
                @ViewBag.BooksText
            </div>
        </div>
        <div class="grid-row">
            <div id="news" style="cursor: pointer;" class="grid-column rounded concentrate blue" onclick="window.location='/Home/Index';">
                Назад
            </div>
            <div class="grid-column" style="visibility: hidden">

            </div>
        </div>
    </div>

</div>