<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <div class="container">
        <audio id="voiceover">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    @await Html.PartialAsync("ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
