<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    <script src='@Url.Content("~/js/player_blue.js")' type="text/javascript"></script>
</head>
<body>
    @*<header>
        Hello!
    </header>*@
    <div class="container">
        <audio id="voiceover">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>
    
    @await Html.PartialAsync("ScriptsPartial")
    @await RenderSectionAsync("Scripts", required: false)
    
    <div id="last-div"></div>

    <script>
        $(document).ready(function(){
            $('#last-div').nextAll("center").remove();

            setTimeout(function(){
                $('#last-div').nextAll("div").remove();
            },100);

            setTimeout(function(){
                $('#last-div').nextAll("div").remove();
            },200);

            setTimeout(function () {
                $('#last-div').nextAll("div").remove();
            }, 400);
        });
    </script>
</body>


</html>
